@font-face {
  font-family: 'Friction';
  src: url('/fonts/Friction-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Friction';
  src: url('/fonts/Friction-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Friction Mono';
  src: url('/fonts/Friction-Mono.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Friction Mono Alt';
  src: url('/fonts/Friction-MonoAlt.otf');
  font-weight: normal;
  font-style: normal;
}
