@import 'sass/fonts';
@import 'sass/reset';
@import 'sass/helpers';

$black: #262626;
$white: #ffffff;
$gray: rgb(180, 180, 180);
$green: #56e271;
$yellow: #f9d43a;
$red: #ff6464;

@import 'sass/base';

@import 'components/log-screen';
@import 'components/self-destructing-log-screen';

@import 'sass/vendors/qs-default';
@import 'sass/vendors/qs-override';
