@import 'sass/fonts';
@import 'sass/reset';
@import 'sass/helpers';

$black: #262626;
$white: #ffffff;
$gray: rgb(180, 180, 180);
$green: #56e271;
$yellow: #f9d43a;
$red: #ff6464;

@import 'sass/base';

@import 'components/log-screen';
@import 'components/self-destructing-log-screen';

// QuickSettings CSS override
.qs_main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  min-width: 20rem;
  width: auto; // Allows for resizing of textarea children

  &, * { font-family: 'Friction Mono'; }

  .qs_title_bar {
    background-color: $black;
    color: $white;
  }

  .qs_content { background-color: $gray; }
  .qs_container { margin: 1px; }
  .qs_button {
    width: 100%;
    text-align: left;
  }

  .qs_textarea {
    height: auto;
    white-space: nowrap;
  }

  .qs_json {
    min-width: 400px;
    &.is-invalid {
      outline: 2px solid $red;
      outline-offset: -0.5ch;
    }
    background: $black;
    color: $white;
    font-size: larger;
    resize: both;
    padding: 1ch;
  }
}
